<div class = "new-post">
	
	<h2><%= @post.name %></h2>
	<div>
		<p>
			<%= @post.username %>, <%= @post.created_at.strftime("%l:%M %P, %m/%d/%y") %>
		</p>
	 	<p class="post-body">
	    	<%= @post.body %>
	 	</p>
	</div>
</div>