<div class = "new-post">
	
	<h2><%= @post.name %></h2>
	<div>
		<p>
			<%= @post.uid %>, <%= @post.created_at.strftime("%m/%d/%y") %>
		</p>
	 	<p class="post-description">
	    	<%= @post.description %>
	 	</p>
	</div>
</div>